:root {
    --accent: #f000;
    --primary: #f000;
    --secondary: var(--halloween-orange);
    --tertiary: #1a1a1a;

    --halloween-purple: #a67fec; /* 512888 */
    --halloween-orange: #2eb7e8; /* E66C2C */
}

.bb_customCSSBox {
    background-color: var(--primary) !important;
}

.styles__tokenBalanceIcon___3MGhs-camelCase {
    content:url("/content/tokenIcon.webp");
}

.styles__containerHeader___3xghM-camelCase {
        box-shadow: 0 0.208vw rgba(0, 0, 0, 0.1), inset 0 -0.208vw rgba(0, 0, 0, 0.1);
}

.styles__background___2J-JA-camelCase {
    background: linear-gradient(to right, #9796f0, #fbc7d4);
}

.styles__blooksBackground___3oQ7Y-camelCase {
    display: none !important;
    visibility: hidden !important;
    object-fit: none;
    background-image: none !important;
}

.styles__sidebar___1XqWi-camelCase {
    background: linear-gradient(to bottom, rgba(18, 194, 233, 0.4) 0%, rgba(196, 113, 237, 0.4) 50%, rgba(246, 79, 89, 0.4) 100%);}

.styles__container___1BPm9-camelCase,
.bb_bigModal {
    background: linear-gradient(45deg, rgba(251, 199, 212, 0.9) 0%, rgba(151, 150, 240, 0.9) 100%);
}

.styles__chatInputContainer___gkR4A-camelCase {
    border-radius: 15px;
    background-color: rgba(0, 0 ,0 ,0.3);
    margin: 4px;
}

.styles__button___1_E-G-camelCase .styles__button___3zpwV-camelCase {
    background-color: var(--primary);
}

.styles__header___2O21B-camelCase {
    background-color: var(--tertiary);
}

.styles__dateRow___1jkQT-camelCase {
    color: #f1f1f1;
}

.bb_roleTag {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: #404040;
    border-style: solid;
    border-width: 1px;
}

.styles__contextMenuContainer___3jAmv-camelCase {
    background-color: rgba(0, 0, 0, 0.6);
    border-color: #000;
    border-style: solid;
    border-width: 2px;
}

.styles__profileContainer___CSuIE-camelCase {
        background-color: rgba(0, 0, 0, 0.3);
}

.styles__left___9beun-camelCase {
    background-color: rgba(111, 0 ,111 ,0.3);
    border-color: rgba(0, 0 ,0 ,0.3);
    border-style: solid;
    border-width: 3px;
}

.styles__blooketText___1pMBG-camelCase {
    font-family: Titan One !important;
    font-size: 2.383vw !important;
}

.styles__chatMessageButtonContainer___4jCa3-camelCase {
    background-color: rgba(0, 0 ,0 ,0.5);
    border-color: rgba(0, 0 ,0 ,0.3);
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
}

.styles__verticalBlookGridLine___rQWaZ-camelCase,
.styles__horizontalBlookGridLine___4SAvz-camelCase {
    background-color: #fff;
    border-radius: 5px;
}

.styles__blookGridContainer___AK47P-camelCase {
    background-color: rgba(0, 0 ,0 ,0.3);
    border-color: rgba(0, 0 ,0 ,0.1);
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
}

.styles__smallChatContainer__RT55a-camelCase {
    margin-bottom: 15px;
    border-radius: 15px;
}

#searchInput {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

#searchInput::placeholder {
    color: #ffffff;
    opacity: 0.75;
}


.toastMessage {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.styles__tradingContainer___B1ABS-camelCase {
    background-color: rgba(0, 0, 0, 0.3);
}

.styles__pageButton___1wFuu-camelCase:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}

.styles__pageButton___1wFuu-camelCase{
    transition: 0.7s cubic-bezier(0, 1.46, 0.58, 1);
}
